<link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
<title>YouTube Word Cloud Generator</title>

<style>


    .login-wrap {
        background:url({{ url_for('static', filename='img/bg-p.png') }}) no-repeat center;
    }

    .my-logo {
        opacity: 85%;
        margin-bottom: 25px;
    }

	.res-img {
		margin-top: 35px;
		max-width: 409px;
		padding: 1rem;
		background: linear-gradient(to right, red, purple);
		padding: 5px;
		max-height: 400;
	}

	.res-div {
		text-align: center;
	}

	.centered {
		text-align: center;
	}

	.blacked {
		/* color: black; */
		text-decoration: underline;
		color: white;
	}

	.opt {
		color: black;
	}

	.txt-area {
		resize: none;
		max-height: 420px;
		min-height: 200px;
	}

	#reloadthis {
		margin: 25 0;
		font-weight: bold;
	}

</style>
<!--<form action="/yt" method="get">-->
	<script src="{{ url_for('static', filename='js/jquery-3.6.1.min.js') }}"></script>
	<link href="{{ url_for('static', filename='css/forms.css') }}" rel="stylesheet" type="text/css" />   
	<div class="login-wrap">
		<div class="login-html">
            <div class="my-logo">
                <img class="my-logo" src="{{ url_for('static', filename='img/my-logo.png') }}" />
            </div>
			<input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Word Cloud</label>
			<input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">How it works?</label>
			<div class="login-form">
				<div class="sign-in-htm">
					<div id='formm'>
						<div class="group">
							<label for="user" class="label">URL of the Video *</label>
							<input id="url_video" name="id" type="text" class="input" value="https://www.youtube.com/watch?v=Rls8H6MktrA" >
						</div>
						<div class="group">
							<label for="pass" class="label">Additional Stopwords</label>
							<textarea class="input txt-area" id="stopwords" rows="3"></textarea>
						</div>
						<div class="group">
							<label for="pass" class="label">Masks</label>
							<select class="input" name="cars" id="selected-mask">
								{% for item in masks %}
									<option class="opt" value="">{{ item }}</option>
								{% endfor %}
							</select>
						</div>
						<div class="group">
							<input id="clickme" type="submit" class="button" value="fetch the word cloud!">
						</div>
					</div>
					<div class="group">
						<div class="res-div" style='display: none' id='resultdiv'>
							<img class="res-img" src="{{ url_for('static', filename='img/loading.gif') }}" /> <br/>
							<input id="reloadthis" type="submit" class="button" value="Reload">
						</div>
						<script>
							function fetch_image() {
								$('#formm').toggle(500);
								let selected_mask = $('#selected-mask').find(":selected").text().toLowerCase();
								let video_url = document.getElementById("url_video");
								urll = video_url.value;
								let swords = $('#stopwords').val().split('\n');
								// alert(swords);
								if (urll.includes('youtube.com')) {
									$('#resultdiv').toggle(500);
									let finale = urll.slice(urll.indexOf('?v=')+3, urll.indexOf('.com')+24);
									// https://www.youtube.com/watch?v=XoQD4HnOMlA
									$('.res-img').attr('src', '/yt?id=' + finale + '&mask=' + selected_mask + '&stopwords=' + swords);
								} else if (urll.includes('youtu.be')) {
									$('#resultdiv').toggle(500);
									let finale = urll.slice(urll.indexOf('youtu.be')+9, urll.indexOf('youtu.be')+20)
									$('.res-img').attr('src', '/yt?id=' + finale + '&mask=' + selected_mask + '&stopwords=' + swords)
								} else {
									$('#resultdiv').fadeIn(500)
									$('.res-img').attr('src', "{{ url_for('static', filename='img/error.gif') }}")
									alert('Reload the page and enter descent url')
								}
							}
							let btn = document.getElementById("clickme");
							btn.addEventListener('click', event => {
								fetch_image();
							});

							$('#reloadthis').click(function() {
								location.reload();
							});
						</script>
					</div>
					<div class="hr"></div>
					<div class="foot-lnk">
						<a href="https://freemedium.info/app/" target="_blank">Free Medium</a> | <a href="https://github.com/AYoonesi/yt-cloud" target="_blank">Source Code</a>
					</div>
				</div>
				<div class="sign-up-htm">
					<div class="group">
						<label for="user" class="label">Manifesto</label>
						<p class="label">
							The idea is creating wordcloud for YouTube videos, and then Medium articles as well. I used word_cloud from PyPi, lots of thanks to <a target="_blank" href="https://github.com/amueller/word_cloud">amueller</a> for his job on this project.
							<br/><br/> - - - - <br/><br/>
							<a href="https://peekaboo-vision.blogspot.com/2012/11/a-wordcloud-in-python.html" target="_blank">From Andreas's Blog:</a> <br/>
							I know, word clouds are a bit out of style but I kind of like them any way. My motivation to think about word clouds was that I thought these could be combined with topic-models to give somewhat more interesting visualizations.
							
							<br/><br/> - - - - <br/><br/>
							Objectives to achieve, for now <br/>
							Masks, Additional Stop Words <br/>
							Medium and other platforms, like New York Times, etc.<br/>
							Currently Available Masks: {{ masks }}
							<br/><br/>
							<div class="centered blacked"><a href="https://www.linkedin.com/in/AYoonesi/" target="_blank">My Linked-In</a> | <a href="https://linstit.pw" target="_blank">My Blog</a></div>
							</br>

						</p>
					</div>
					<div class="hr"></div>
					<div class="foot-lnk">
						<a href="https://freemedium.info/app/" target="_blank">Free Medium</a> | <a href="https://github.com/AYoonesi/yt-cloud" target="_blank">Source Code</a>
					</div>
				</div>
			</div>
		</div>
	</div>
<!--</form>-->