<link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
<title>YouTube Word Cloud Generator</title>

<style>


    .login-wrap {
        background:url({{ url_for('static', filename='img/bg-p.png') }}) no-repeat center;
    }

    .my-logo {
        opacity: 85%;
        margin-bottom: 25px;
    }

	.res-img {
		margin-top: 35px;
		max-width: 409px;
		padding: 1rem;
		background: linear-gradient(to right, red, purple);
		padding: 5px;
	}

	.res-div {
		text-align: center;
	}

	.centered {
		text-align: center;
	}

	.blacked {
		/* color: black; */
		text-decoration: underline;
		color: white;
	}

</style>
<!--<form action="/yt" method="get">-->
	<script src="{{ url_for('static', filename='js/jquery-3.6.1.min.js') }}"></script>
	<link href="{{ url_for('static', filename='css/forms.css') }}" rel="stylesheet" type="text/css" />   
	<div class="login-wrap">
		<div class="login-html">
            <div class="my-logo">
                <img class="my-logo" src="{{ url_for('static', filename='img/my-logo.png') }}" />
            </div>
			<input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Word Cloud</label>
			<input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">How it works?</label>
			<div class="login-form">
				<div class="sign-in-htm">
					<div class="group">
						<label for="user" class="label">URL of the Video *</label>
						<input id="url_video" name="id" type="text" class="input" placeholder="https://www.youtube.com/watch?v=Rls8H6MktrA" >
					</div>
					<div hidden class="group">
						<label for="pass" class="label">Mask (In Progress)</label>
						<input id="mask" name="wanted" type="text" class="input" data-type="" disabled>
					</div>
					<div class="group">
						<input id="clickme" type="submit" class="button" value="fetch the word cloud!">
						<div class="res-div" style='display: none' id='resultdiv'>
							<img class="res-img" src="{{ url_for('static', filename='img/loading.gif') }}" />
						</div>
						<script>
							//const axios = require('axios').default;
							function fetch_image() {
								$('#resultdiv').toggle(500)
								let video_url = document.getElementById("url_video");
								urll = video_url.value;
								if (urll.includes('youtube.com')) {
									let finale = urll.slice(urll.indexOf('?v=')+3, urll.indexOf('.com')+24)
									$('.res-img').attr('src', '/yt?id=' + finale)
								}
								else if (urll.includes('youtu.be')) {
									let finale = urll.slice(urll.indexOf('youtu.be')+9, urll.indexOf('youtu.be')+20)
									$('.res-img').attr('src', '/yt?id=' + finale)
								}
							}
							let btn = document.getElementById("clickme");
							btn.addEventListener('click', event => {
								fetch_image();
							});
						</script>
					</div>
					<div class="hr"></div>
					<div class="foot-lnk">
						<a href="https://freemedium.info/app/" target="_blank">Free Medium</a> | <a href="https://github.com/AYoonesi/yt-cloud" target="_blank">Source Code</a>
					</div>
				</div>
				<div class="sign-up-htm">
					<div class="group">
						<label for="user" class="label">Manifesto</label>
						<p class="label">
							The idea is creating wordcloud for YouTube videos, and then Medium articles as well. I used word_cloud from PyPi, lots of thanks to <a target="_blank" href="https://github.com/amueller/word_cloud">amueller</a> for his job on this project.
							<br/><br/> - - - - <br/><br/>
							<a href="https://peekaboo-vision.blogspot.com/2012/11/a-wordcloud-in-python.html" target="_blank">From Andreas's Blog:</a> <br/>
							I know, word clouds are a bit out of style but I kind of like them any way. My motivation to think about word clouds was that I thought these could be combined with topic-models to give somewhat more interesting visualizations.
							
							<br/><br/> - - - - <br/><br/>
							Objectives to achieve, for now <br/>
							Masks, Additional Stop Words <br/>
							Medium and other platforms, like New York Times, etc.

							<br/><br/>
							<div class="centered blacked"><a href="https://www.linkedin.com/in/AYoonesi/" target="_blank">My Linked-In</a> | <a href="https://linstit.pw" target="_blank">My Blog</a></div>
							</br>

						</p>
					</div>
					<div hidden class="group">
						<label for="user" class="label">Username</label>
						<input id="user" type="text" class="input">
					</div>
					<div hidden class="group">
						<label for="pass" class="label">Password</label>
						<input id="pass" type="password" class="input" data-type="password">
					</div>
					<div hidden class="group">
						<label for="pass" class="label">Repeat Password</label>
						<input id="pass" type="password" class="input" data-type="password">
					</div>
					<div hidden class="group">
						<label for="pass" class="label">Email Address</label>
						<input id="pass" type="text" class="input">
					</div>
					<div hidden class="group">
						<input type="submit" class="button" value="Sign Up">
					</div>
					<div class="hr"></div>
					<div class="foot-lnk">
						<a href="https://freemedium.info/app/" target="_blank">Free Medium</a> | <a href="https://github.com/AYoonesi/yt-cloud" target="_blank">Source Code</a>
					</div>
				</div>
			</div>
		</div>
	</div>
<!--</form>-->